################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/FacialRecognitionSamples/v15/Server/sqlite3
*.suo
/FaceRecognitionWpfSample/obj/Debug
/FaceRecognitionWpfSample/bin/Debug
/packages

