################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/FaceTrackingWpfSample/obj/Debug
/.vs/FacialRecognitionSamples/v15/Server/sqlite3
*.suo
